body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #7eabeb;
  color: white;
  padding: 15px;
}

nav {
  background-color: #dfc0f6;
  padding: 10px;
}

nav a {
  color: rgb(255, 255, 255);
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.layout {
  display: flex;
  padding: 15px;
}

main {
  flex: 3;
}

aside {
  flex: 1;
  background-color: #7eabeb;
  padding: 10px;
  margin-left: 15px;
}

.gallery {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.gallery img {
  width: 150px;
  border: 1px solid #ccc;
}

footer {
  background-color: #dfc0f6;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
